@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');






body{
    color: #7b7d85;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6 {
  color: #3a3c41;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}
.header-top {
  background: #60646d none repeat scroll 0 0;
  padding: 5px 0;
}
.header-top p{
    color: #bbbfc9;
    margin-top: 5px;
}
.header-top p span{
    color: #fff;
}
#header {
  background: #fff none repeat scroll 0 0;
  padding: 21px 0;
    padding-bottom: 10px;
}
#header .logo {
  float: left;
}
nav.main-menu {
  float: right;
}
.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar-default .navbar-nav > li > a {
color: #60646d;
display: block;
font-size: 16px;
font-weight: 400;
padding: 11px 15px;
text-align: left;
text-decoration: none;
width: 100%;
}

navbar-nav li a:hover{
     background-color: #67c9e0;
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
background-color: #67c9e0;
}
#active{
     color: #fff;
background-color: #67c9e0;
}

/****Slider Content CSS****/

.home-slider .flexslider {
    min-height: 300px;
}
.home-slider .flexslider.loading {
    min-height: 550px;
}
.home-slider .content-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 999;
}
.home-slider .slide-content {
  background-color: rgba(225, 255, 255, 0.8);
  font-family: sans-serif;
  padding: 20px;
  width: 50%;
}
.home-slider .slide-content h1 {
    font-size: 48px;
    font-weight: 400;
    margin: 0 0 20px;
}
.home-slider .slide-content h1 span {
  color: red;
  font-weight: 800;
}
.home-slider .slide-content p {
  color: #3d3d3d;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
.home-slider .slide-content p {
    color: #3a3c41;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
}
.home-slider .slide-content .slider-button {
    background-color: #f15b5a;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    text-decoration: none;
}
.home-slider .slide-content .slider-button:hover {
    background-color: #3a3c41;
    color: #fff;
}
.home-slider .slide-content.display-bg {
    background-color: rgba(225, 255, 255, 0.6);
    padding: 20px;
}
.home-slider .slide-content.display-bg h1 {
    font-size: 42px;
}
.home-slider .appointment {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.home-slider .make-appoint {
    background-color: #3a3c41;
    display: block;
    font-size: 15px;
    outline: medium none;
    padding: 7px 15px;
    position: relative;
    text-align: left;
    z-index: 99;
}
.home-slider .make-appoint:focus {
    color: #fff;
}
.home-slider .make-appoint i {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 9px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition-duration: 0.2s;
    width: 42px;
}
.home-slider .make-appoint:hover {
    background-color: #000;
    color: #fff;
}
.home-slider .make-appoint.open i {
    transform: rotate(180deg);
}
.home-slider .appointment-two input[type="submit"] {
    margin-top: 15px;
}
.home-slider .variation-two .appointment-form {
    padding: 30px 20px;
}
.home-slider .variation-two #appointment-loader {
    margin-top: 15px;
}
.home-slider .make-appoint-one {
    width: 22%;
}
.home-slider .make-appoint-one .make-appoint .fa {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.home-slider .appointment-form {
    background-color: #67c9e0;
    padding: 16px 10px 15px;
    position: relative;
    z-index: 99;
}
.home-slider .appointment-form label.error {
    display: none !important;
}
.home-slider .common {
    padding-left: 9px;
    padding-right: 9px;
}
.home-slider input[type="text"], .home-slider input[type="email"], .home-slider input[type="number"], .home-slider textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #adebfa;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    padding: 0 5px 5px;
    resize: none;
    width: 100%;
}
.home-slider textarea {
    height: auto;
    line-height: 20px;
    margin: 0;
    transition: height 0.2s ease 0s;
}
.home-slider input[type="text"]:focus, .home-slider input[type="email"]:focus, .home-slider textarea:focus {
    border-bottom: 2px solid #fff;
    outline: medium none;
}
.home-slider input[type="text"], .home-slider input[type="email"] {
    margin-bottom: 23px;
}
.home-slider input[type="submit"] {
    background-color: #fff;
    border: medium none;
    color: #3a3c41;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    outline: medium none;
    padding: 6px 19px;
}
.home-slider input[type="submit"]:hover {
    background-color: #3a3c41;
    color: #fff;
}
.home-slider input[type="submit"]:focus {
    background-color: #fafafa;
    color: #3a3c41;
    outline: medium none;
}
.home-slider input.error, .home-slider textarea.error {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ff0000;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
}
.home-slider input.error:focus, .home-slider textarea.error:focus {
    border-bottom: 2px solid #fff;
}
.home-slider *:-moz-placeholder {
    color: #fff;
}
.home-slider *::-moz-placeholder {
    color: #fff;
}
.home-slider #message-sent {
    clear: both;
    color: #fff;
    display: none;
    font-weight: 600;
    padding: 10px 0;
}
#appointment_form_one #app-message {
    margin-bottom: 0;
    margin-top: 5px;
}
#appointment_form_one #appointment-loader {
    margin-top: 10px;
}
.appoint-var-three {
    background-color: #f0f5f7;
    background-image: url("../images/appointment-bg.png");
    background-position: 85% 0;
    background-repeat: no-repeat;
    padding: 40px 0;
}
.appoint-var-three .slogan-section {
    margin-bottom: 30px;
    text-align: left;
}
.appoint-var-three .slogan-section h3 {
    margin: 0 0 10px;
}
.appoint-var-three .appointment-form input[type="text"], .appoint-var-three .appointment-form input[type="email"], .appoint-var-three .appointment-form textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #d3d8da;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
    display: inline-block;
    padding: 0 5px 5px;
    resize: none;
    width: 100%;
}
.appoint-var-three .appointment-form input[type="text"]:focus, .appoint-var-three .appointment-form input[type="email"]:focus, .appoint-var-three .appointment-form textarea:focus {
    border-bottom: 2px solid #fff;
    outline: medium none;
}
.appoint-var-three .appointment-form *:-moz-placeholder {
    color: #a7adaf;
}
.appoint-var-three .appointment-form *::-moz-placeholder {
    color: #a7adaf;
}
.appoint-var-three .appointment-form input[type="text"], .appoint-var-three .appointment-form input[type="email"] {
    margin-bottom: 23px;
}
.appoint-var-three .appointment-form input[type="submit"] {
    background-color: #f15b5a;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    margin: 5px 0 20px;
    padding: 10px 20px;
}
.appoint-var-three .appointment-form input[type="submit"]:hover {
    background-color: #898e99;
}
.appoint-var-three .appointment-form input.error, .appoint-var-three .appointment-form textarea.error {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ff0000;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
}
.appoint-var-three .appointment-form #appointment-loader {
    margin: 8px 0 0 20px;
}
.appoint-var-three .appointment-form #message-sent {
    clear: both;
    font-size: 16px;
    font-weight: 600;
}
#appointment-loader {
    display: none;
}
.default-contents {
    margin: 60px 0;
}


/******Home Features CSS*****/
.home-features {
  background-color: #fff;
  padding: 40px 0 30px;
  position: relative;
}
.features-intro h2 span {
  color: #3a3c41;
  font-weight: 700;
  position: relative;
  top: -20px;
}
.features-intro img{
    margin-bottom: 20px;
}

.home-features .icon-wrapper .fa-custom {
  color: #67c9e0;
  font-size: 60px;
}
.home-features .features-intro p {
  margin-bottom: 30px;
}
.home-features .features-intro .read-more {
  background-color: #f15b5a;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  text-transform: uppercase;
}
.home-features .features-intro .read-more:hover{
    background-color: #3a3c41;
    color: #fff;
    text-decoration: none;
}
.read-more {
  background-color: #67c9e0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-decoration: none;
}

.home-features .single-feature h3 {
  font-size: 22px;
  margin: 0 0 15px;
    font-weight: 700;
}

/*****Doctors Section CSS*****/

.home-doctors.doctors-var-two {
  background-color: #fff;
  text-align: left;
}
.home-doctors {
  padding: 0px 0 80px;
  text-align: center;
  position: relative;
}
.home-doctors.doctors-var-two .slogan-section {
  text-align: left;
}
.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}
.slogan-section h2 span{
    font-weight: 700;
}

.home-doctors.doctors-var-two .common-doctor .text-content {
  padding: 20px 0;
}
.home-doctors .common-doctor .text-content {
  padding: 20px 15px 30px;
}

.text-content p{
    text-align: left;
}

.text-content h5 a {
  color: #3a3c41;
  font-size: 18px;
  font-weight: 700;
}
.text-content h5 a:hover{
    color: #f15b5a;
    text-decoration: none;
}

.read-more:hover{
    background-color: #f15b5a;
    color: #fff;
    text-decoration: none;
}

/*******Start Facilities CSS******/
.slogan-section  p{
    margin-top: 10px;
}
.facilities_section {
  position: relative;
}


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 0px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group > a.active, div.bhoechie-tab-menu div.list-group > a.active .glyphicon, div.bhoechie-tab-menu div.list-group > a.active .fa {
  background-color: #67c9e0;
  color: #000;
  opacity: 0.56;
}
div.bhoechie-tab-menu div.list-group > a.active::after {
  border-bottom: 13px solid transparent;
  border-left: 10px solid #67c9e0;
  border-top: 13px solid transparent;
  content: "";
  left: 100%;
  margin-top: -13px;
  position: absolute;
  top: 50%;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #337ab7;
  color: #fff;
  z-index: 2;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

center h5 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
center a img {
  height: 172px;
  width: 39%;
}
center p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-group-item {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 26px 15px;
  position: relative;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}



.home-services {
  background-color: #fff;
  padding: 90px 0;
}
.tab-main .tab-title {
  border-bottom: 1px solid #dcdee4;
  cursor: pointer;
  padding: 15px 10px;
  position: relative;
  z-index: 999;
}
.tab-title h6 {
  color: #747983;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
.tab-main .tab-content .content {
  display: none;
  padding: 30px;
}
.tab-main .tab-content {
  background-color: #f0f5f7;
  border: 1px solid #dcdee4;
  height: auto !important;
  margin-left: -30px;
  min-height: 290px;
}
.tab-main .tab-content h5 {
  margin: 0 0 15px;
}
.tab-content h5{
    font-size: 18px;
font-weight: 700;
}
.slogan-section h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.content p{
    margin-bottom: 20px;
}


/****** Video Section CSS here*****/
.slogan{
    margin-bottom:30px;
}
.slogan h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.slogan p {
  font-size: 16px;
}
.video{
    margin-bottom: 25px;
}
.trt_module{}
.trt_module h4{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
}
.trt_module p {
  margin-bottom: 18px;
  margin-top: 30px;
}
.video_section {
  padding-bottom: 20px;
  position: relative;
}


/*****Footer CSS*****/

#main-footer {
  background-color: #3a3c41;
  color: #9ba0aa;
  line-height: 24px;
  padding: 100px 0 30px;
}
.footer-bottom {
  border-top: 1px solid #4a4c52;
  margin-top: 60px;
  padding-top: 26px;
}

.footer-bottom p {
  color: #7a7d86;
}

.footer-bottom .footer-social-nav {
  float: right;
  margin: 0;
  padding: 0;
}

#main-footer .widget ul {
  border-color: #4a4c52;
}
.widget ul {
  border-top: 1px solid #dde1e3;
  margin: 0;
  padding: 0;
}

.widget ul li {
  border-bottom: 1px solid #515557;
  color: #999ca5;
  list-style: outside none none;
  margin: 10px 0 0;
  padding: 0 0 10px;
}
#main-footer .widget a {
  color: #b5bac6;
}

#main-footer .widget h3.title {
  color: #f0f5f7;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

#main-footer .widget input[type="text"] {
  background-color: #515359;
  border: medium none;
  color: #fff;
  margin-bottom: 13px;
  outline: medium none;
  overflow: hidden;
  padding: 12px 15px;
  width: 100%;
}
#main-footer .widget input[type="submit"] {
  background-color: #67c9e0;
  border: medium none;
  color: #fff;
}
#main-footer .widget a:hover {
  color: #cbd1de;
    text-decoration: none;
}

form input[type="submit"] {
  background-color: #3a3c41;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 12px 25px;
}
form input[type="submit"]:hover{
    background: red;
    color: #fff;
}
.textwidget p{
    margin-bottom: 25px;
}
.footer-social-nav{
}
.footer-social-nav li{
    list-style: none;
   display: inline-block;
    margin-left: 10px;
}
.footer-social-nav li a{
    display: inline-block;
height: 20px;
transition: all 0.3s ease 0s;
width: 20px;
    font-size: 20px;
}
.footer-social-nav li a:hover{}


a#scroll-top {
  background: #67c9e0 url("img/scroll-top.png") no-repeat scroll center center;
  border-radius: 50px;
  bottom: 80px;
  display: none;
  height: 42px;
  line-height: 3em;
  position: fixed;
  right: 20px;
  transition: all 0.25s ease-in-out 0s;
  width: 42px;
  z-index: 9999;
}

/**********Responsive CSS*********/

