html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,
blockquote {
    quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

body {
    color: #646464;
    font-family: "Sentinel A", "Sentinel B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

a {
    color: #646464;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    -ms-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear
}

a:hover {
    color: #AAAAAA
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    height: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1
}

.wrapper {
    background: #FFFFFF;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2
}

.show .wrapper {
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px)
}

.wrapper .splitlayout {
    min-height: 100%;
    position: relative;
    width: 100%
}

.wrapper .side {
    height: 100%;
    position: relative;
    top: 0;
    width: 50%;
    -webkit-backface-visibility: hidden;
    z-index: 100
}

@media screen and (max-width: 768px) {
    .wrapper .side {
        width: 100%
    }
}

.wrapper .side-left {
    left: 0
}

.wrapper .side-right {
    position: fixed;
    right: 0;
    top: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.wrapper .side-right.current {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%)
}

@media screen and (max-width: 768px) {
    .wrapper .side-right {
        position: relative;
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}

.wrapper .image {
    height: 90%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%
}

@media screen and (max-width: 768px) {
    .wrapper .image {
        position: relative;
        top: 0;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

.intro {
    position: relative
}

@media screen and (max-width: 768px) {
    .intro {
        height: auto !important
    }
}

.intro .side-right {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none
}

.intro .bc-logo {
    fill: #AAAAAA;
    height: 23px;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    text-align: center;
    top: 8%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90px
}

@media screen and (max-width: 768px) {
    .intro .bc-logo {
        margin-top: 20%;
        position: relative;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@media screen and (max-width: 375px) {
    .intro .bc-logo {
        margin-top: 15%
    }
}

@media screen and (max-width: 320px) {
    .intro .bc-logo {
        margin-top: 10%
    }
}

.intro .content {
    text-align: center;
    padding: 60px;
    position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    max-width: 540px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%
}

@media screen and (max-width: 768px) {
    .intro .content {
        padding: 60px 20px 20%;
        position: relative;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@media screen and (max-width: 375px) {
    .intro .content {
        padding-bottom: 15%
    }
}

@media screen and (max-width: 320px) {
    .intro .content {
        padding-bottom: 10%;
        padding-top: 10px
    }
}

.intro .content h1 {
    background: url("../../stylesheets/2014/logo.jpg") no-repeat center center;
    background-size: 100% 100%;
    color: #542956;
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 400px;
    font-weight: 500;
    line-height: 0.5;
    text-align: center;
    text-indent: -9999px;
    width: auto;
}

.intro .content h2 {
    color: #AAAAAA;
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3.55px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase
}

@media screen and (max-width: 540px) {
    .intro .content h2 {
        font-size: 13px;
        margin-top: 0
    }
    .intro .content h1 {
    background-size: 70% 100%;
    font-size: 200px;
    }
}

.intro .scroll-message {
    bottom: 4%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media screen and (max-width: 768px) {
    .intro .scroll-message {
        display: none
    }
}

.intro .scroll-message .mouse-icon {
    bottom: 60%;
    fill: #AAAAAA;
    height: 23px;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    width: 15px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.intro .scroll-message p {
    color: #AAAAAA;
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase
}

.intro .intro-bg {
    background-image: url("image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff
}

.chapters {
    position: relative
}

@media screen and (max-width: 768px) {
    .chapters {
        height: auto !important
    }
}

.chapter {
    height: 101vh;
    padding-top: 5%;
    padding-bottom: 15%;
}

@media screen and (max-width: 768px) {
    .chapter {
        height: 100%
    }
}

.chapter .copy {
    margin: auto;
    max-width: 500px
}

@media screen and (max-width: 1200px) {
    .chapter .copy {
        padding-left: 42px;
        padding-right: 42px
    }
}

@media screen and (max-width: 768px) {
    .chapter .copy {
        margin: 100px auto
    }
}

@media screen and (max-width: 540px) {
    .chapter .copy {
        font-size: 16px;
        margin: 60px auto
    }
}

@media screen and (max-width: 375px) {
    .chapter .copy {
        padding-left: 34px;
        padding-right: 34px
    }
}

@media screen and (max-width: 320px) {
    .chapter .copy {
        padding-left: 30px;
        padding-right: 30px
    }
}

.chapter .copy h4 {
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: -8px;
    margin-top: 44px
}

@media screen and (max-width: 768px) {
    .chapter .copy h4 {
        font-size: 30px
    }
}

.chapter .copy h5 {
    margin-top: 44px
}

.chapter .copy h5 a {
    color: #A14162;
    font-size: 24px;
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    -ms-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear
}

.chapter .copy h5 a:hover {
    color: #ED5A6D
}

.chapter .copy p {
    margin-bottom: 24px
}

.chapter-one p:first-child {
    color: #646464;
    font-size: 25px;
    padding-top: 20%
}

@media screen and (max-width: 768px) {
    .chapter-one p:first-child {
        font-size: 21px;
        padding-top: 10%
    }
}

.chapter-one-bg {
    background-color: #1A1818
}
.chapter-one-bg2 {
  background-image: url("about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff
}

.chapter-one h4 {
    color: #ED5A6D
}

.chapter-two-bg {
    background-color: #061735
}
.chapter-two-bg2 {
  background-image: url("hall1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff
}

.chapter-two h4 {
    color: #061735
}

.chapter-three-bg {
    background-color: #8e0808;
}

.chapter-three-bg2 {
  background-image: url("hall3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff
}

.chapter-three h4 {
    color: #A14162
}

.chapter-four-bg {
  background-image: url("hall4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff
}

.chapter-four h4 {
    color: #F89F1B
}

.chapter-five-bg {
    background-color:  #0c3473;
}
.chapter-five-bg2 {
  background-image: url("facilities.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff
}
.btn{
  height: 45px;
  width: 90px;
  background-color: #E33D46;
  border: 1px solid #000;
  border-radius: 3px;
color: white;
-webkit-box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);
-moz-box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);
box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);

}

.btn2{
  height: 45px;
  width: 90px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 3px;
color: #E33D46;
-webkit-box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);
-moz-box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);
box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);

}

.btn2{
  height: 45px;
  width: 90px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 3px;
color: #E33D46;
-webkit-box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);
-moz-box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);
box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);

}

.button:hover{
  height: 45px;
  width: 90px;
  background-color: black;
  border: 1px solid #000;
  border-radius: 3px;
color: white;
-webkit-box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);
-moz-box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);
box-shadow: 11px 14px 25px -14px rgba(0,0,0,0.30);

}
.chapter-five h4 {
    color: #542956
}

.chapter-six-bg {
  background-image: url("contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff
}

.chapter-six h4 {
    color: #F89F1B
}

.chapter-seven-bg {
    background-color: #542956
}

.chapter-seven h4 {
    color: #542956
}

.chapter-eight-bg {
    background-color: #A14162
}

.chapter-eight h4 {
    color: #A14162
}

.chapter-nine-bg {
    background-color: #061735
}

.chapter-nine h4 {
    color: #061735
}

.chapter-ten-bg {
    background-color: #ED5A6D
}

.chapter-ten {
    height: 100%
}

.chapter-ten h4 {
    color: #ED5A6D
}

.footer {
    margin-top: -18%;
    padding: 20px;
    position: relative;
    width: 50%;
    z-index: 200
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 0;
        width: 100%
    }
}

.footer .social {
    height: 100%
}

.footer .social-urls {
    margin: 40px auto;
    text-align: center
}

.footer .social-urls p {
    margin-bottom: 24px
}

@media screen and (max-width: 1200px) {
    .footer .social-urls {
        padding-left: 42px;
        padding-right: 42px
    }
}

@media screen and (max-width: 768px) {
    .footer .social-urls {
        margin: 100px auto
    }
}

@media screen and (max-width: 540px) {
    .footer .social-urls {
        font-size: 16px;
        margin: 60px auto
    }
}

.icons{
  list-style: none;
}

.icons li{
  margin: 15px 10px;
  float: left;
  text-align: center;
  font-size: 1.5em;
}

.icons li img{
  height: 10vh;
  width: auto;
  display: block;
}

@media screen and (max-width: 540px) {
  .icons li{
    margin: 15px 5px;
    float: left;
    text-align: center;
    font-size: 1.2em;
  }
}

#dot-nav{
    position: fixed;
	right: 10px;
	top: 50vh;
	margin-top: -50px;
	height: 100px;
	z-index: 999;
}

#dot-nav ul {
	list-style: none;
	margin:0;
	padding: 0;
}
#dot-nav li {
	position: relative;
	background-color: #bdc3c7;
	border:3px solid #bdc3c7;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	padding: 5px;
	height: 10px;
	margin: 10px 10px 0px 0px;
	width: 10px;
	vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
	background-color: #8e0808;
}

#dot-nav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #8e44ad;
    color: #f5f5f5;
    border: 1px solid #8e44ad;
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #8e44ad;
}

.ui-tooltip{
  padding:0px;
  position:absolute;
  z-index:9999;
  max-width:300px
}

body .ui-tooltip{
  border-width:2px
}

.ui-tooltip-content{
  background-color: #8e0808;
  color: #f5f5f5;
  border: 1px solid #8e0808;
  border-radius: 3px;
  padding: 0px 3px;
  margin-right: 1em;
  margin-top: -2em;



#contact-area {
	width: 50%;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	width: auto;
	font-family: Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
  margin-bottom: 10vh;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: auto;
	padding-top: 5px;
	font-size: 1.0em;
}

.footer .social-urls a {
    margin: 0 8px
}

.footer .social-urls a svg {
    height: 28px;
    width: 28px
}
